h1{
    text-align: center;
    margin-bottom: 60px;
    font-family:cursive;
}

.main .p1, .p2, .p3{
    float: left;
    margin: 8px;
    font-family:cursive;
    letter-spacing: 1px;
}

.p1{
    width: 30%;
    background-color:rgb(115, 114, 114);
    border: 2px solid black;
    padding: 10px;
    
}

#pa{
    margin-top: 70px;
    
}

.p2{
    width: 30%;
    background-color:rgb(115, 114, 114);
    border: 2px solid black;
    padding: 10px;
}


#pb{
    margin-top: 70px;
    
}

.p3{
    width: 30%;
    background-color:rgb(115, 114, 114);
    border: 2px solid black;
    padding: 10px;
}


#pc{
    margin-top: 70px;
    
}

#chicken{
    margin-top: -10px;
    margin-right: -10px;
    padding: 8px;
    padding-left: 15px;
    float:right;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    background-color: palevioletred;
    
}

#beef{
    color: white;
    margin-top: -10px;
    margin-right: -10px;
    padding: 8px;
    padding-left: 15px;
    float:right;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    background-color: brown;
    
}

#sushi{
    margin-top: -10px;
    margin-right: -10px;
    padding: 8px;
    padding-left: 15px;
    float:right;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    background-color:burlywood;
    
}

